.header-wrapper a, .category-wrapper a {
  color: #000;
  text-decoration: none;
}

.header-wrapper a:hover, .category-wrapper a:hover {
  text-decoration: underline;
}

header {
  background: rgb(245, 241, 241);
  font-weight: 600;
}

.header-wrapper {
  background: #E0CFA3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.header-wrapper nav {
  display: flex;
}

nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav>a, nav>h2 {
  padding: 0 1rem;
  color: #000;
}

nav>div {
  margin: auto;
  padding-right: 1rem;
}

#menu-button {
  font-size: 1.5rem;
  border-radius: 12px;
  cursor: pointer;
}

.search-field>input {
  height: 2rem;
  width: 20rem;
}

.search-field>button {
  height: 2rem;
}

.logo-header {
  width: 5rem;
  height: 5rem;
}

.category-wrapper>ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background: #C4B283;
  margin: 0;
  padding: 10px 0;
}

.header-logged {
  font-size: 2rem;
  cursor: pointer;
}

.profile {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  padding: 12px;
  background: #fff;
  box-shadow: 0 0 3px #ccc;
  z-index: 1;
}

.profile-dropdown p:hover {
  text-decoration: underline;
  cursor: pointer;
}